<p><b><% working_suggestion = construct_single_suggestion_complete_object(@suggestion) %></b></p>


<p>Unique Pair ID: <%= working_suggestion[:pair]["id"] %></p>
<p>Noms: <%= link_to "#{working_suggestion[:yelp].business.name}",
                     "#{ working_suggestion[:yelp].business.url}" %></p>
<p>Songs: <%= working_suggestion[:pair]["music_id"] %></p>
<p>Spotify Type: <%= working_suggestion[:spotify] %></p>

<%# if current_user, OPTION TO FAVE! %>