<%= @_request %>


<div class="container">
  <%# if @user %>
    <%#= render partial: 'searchform' %>
  <%# end %>

  <div class="row">
    <% @suggestions.each do |suggestion| %>
      <div class="col-md-6 bordered">
      <% @suggestion = suggestion %>
      <%= render partial: 'suggestion', locals: {suggestion: @suggestion} %>
      </div>
    <% end %>    
  </div>
</div>